// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.site-footer {
  background: $night-rider;
  color: $white;
  padding: 40px 0;
}
