// -----------------------------------------------------------------------------
// Color variables live here.
// -----------------------------------------------------------------------------
//
// Use http://www.htmlcsscolor.com/hex/
// to determine the name for the variables.
//
// -----------------------------------------------------------------------------
// EXAMPLE
// =============================================================================
// $medium-orchid   :   #af3fc2;
// $midnight-blue   :   #1d1075;
// -----------------------------------------------------------------------------

// Generic Colors
$white: #ffffff;
$black: #000000;

// Brand Colors
$brandPrimary: #1d72b1;

// Site Colors
$night-rider: #333333;
$very-light-grey: #cccccc;
$whisper: #e4e4e4;
