<!-- HEADER START -->

header.site-header
  .container
    a.site-header__logo(href="/") Site Logo
  
    nav.primary-nav
      ul.primary-nav__list
        li.primary-nav__item
          a.primary-nav__link.primary-nav__link--active(href="index.html") Home
        li.primary-nav__item
          a.primary-nav__link(href="index.html") About
        li.primary-nav__item
          a.primary-nav__link(href="index.html") Contact
          
<!-- HEADER END -->
  
