<!-- HEADER START -->

header.site-header
  .container
    a.site-header__logo(href="/") Site Logo
  
    nav.primary-nav
      ul.primary-nav__list
        li.primary-nav__item
          a.primary-nav__link(href="index.html" class=page == 'home' ? "primary-nav__link--active" : "") Home
        li.primary-nav__item
          a.primary-nav__link(href="about.html" class=page == 'about' ? "primary-nav__link--active" : "") About
        li.primary-nav__item
          a.primary-nav__link(href="contact.html" class=page == 'contact' ? "primary-nav__link--active" : "") Contact
          
<!-- HEADER END -->
  
